@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
  --roboto-font: 'Roboto', sans-serif;
  --poppins-font: 'Poppins', sans-serif;
  --placeholder-text: #b9bdcf;
  --logo-color: #282538;
  --primary-text-color: #334680;
  --button-color: #1e86ff;
}
::placeholder {
  opacity: 1;
  color: var(--placeholder-text);
}
body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f7fb;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
